<html>

<head>
	<title> Find Your Domain Name
	</title>

</head>

<script src="/javascript/jquery-1.8.2.min.js"></script>

<script src="/javascript/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">



<style>

div {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 300%;
}

p {
	text-align: center;
}

</style>

<body>


	<div class="hero-unit container">
		<form class="form-search" method="post" action="/whois">
			<h1>
				Find your Domain Name
			</h1>
			<p> 
				Type in your desired domain name below to see if it's available
			</p>
			<p><input class="input-large search-query" type="text" name="domain" id="domain" placeholder="Type a domain name..."></p>
			<input type="submit" value="Submit" class="btn btn-primary btn-large">
		</form>
	</div>

</body>


</html>